.Board-container{
    display: flex;
    flex-direction: row;
    /* border: 2px solid black; */
    column-gap: 1px;
    padding: 0;
    margin: 10px 0 0;
}

.col{
    display: flex;
    flex-direction: column;
    width: 25px;
    row-gap: 1px;
    margin: 0;
    padding: 0;
}
.Start-button{
    width: 100px;
    border-radius: 10%;

}

#button-wrapper{
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-evenly;
}

.Delete-button{
    width: 100px;
    border-radius: 10%;
}
.Delete-button:hover{
    background-color: red;
}